* {
    margin: 0;
    padding: 0;
}


/* ==========header========== */

header .logo {
    color: #204668;
    font-weight: 750;
    text-decoration: none;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    top: 50px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'poppins', sans-serif;

}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -55px;
    background-color: #204668;
    padding: 8px;
}

header ul li {
    list-style: none;
    padding-left: 20px;
    
}

header ul li a {
    text-decoration: none;
    padding: 6px 5px ;
    color: rgb(255, 255, 255);
}


/* ====================judul==================== */
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-transform: capitalize;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    text-transform: capitalize;
    text-align: center;
}

h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    text-transform: capitalize;
    position: relative;
    left: 75px;
}

/* ====================text==================== */

p {
    font-family: Arial, Helvetica, sans-serif;
    
    width: 75%;
    margin: auto;
    padding: 8px;
}

.daftarjalur {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 250px;
    background-color: #204668;
    border-radius: 5px;
    padding: 5px;
    margin: 25px;
}



.fakta {
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.poin {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    width: 75%;
}

.poin a {
    text-decoration: none;
    color: aliceblue;
}

.daftarjalur p {
    text-transform: capitalize;
    color: aliceblue;
}

.credit p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: small;
    line-height: -20;
}



/* ====================gambar==================== */

.gambartengahtipe1 {
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 2px gray;
}

.gambartengahtipe2 {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
