* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ==========header========== */
header {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; */
}

header .logo {
    
    color: #204668;
    font-weight: 750;
    text-decoration: none;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    top: 50px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -55px;
    background-color: #204668;
    padding: 8px;
}

header ul li {
    list-style: none;
    padding-left: 20px;
    
}

header ul li a {
    text-decoration: none;
    padding: 6px 5px ;
    color: rgb(255, 255, 255);
}

/* header ul li a:hover, header ul li a.aktif {
    background: white;
    color: rgb(40, 40, 163);
    border-radius: 15px;
} */

/* ==========isi========== */

.isi  {
    background-color: blanchedalmond;
}

.welcome img {
    width: 75%;
    position: relative;
    top: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.welcome h2 {
    position: relative;
    top: 175px;
    text-align: center;
}

.welcome hr {
    position: relative;
    top: 175px;
    width: 300px;
    height: 3px;
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* artikel */

.ini-galeri {
    /* display: flex;
    align-items: center; */
}

div.gallery {
    /* border: 5px solid #204668; */
}

div.gallery:hover {
    box-shadow: #adb7c0 10px 10px 5px;
}

div.gallery img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.desc {
    padding: 15px;
    text-align: center;
    background-color: #204668;
    color: aliceblue;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 10px 10px;
    float: left;
    width: 24.99999%;
    
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 100%;
        margin: 6px 0;
        border-radius: 20px;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
        margin-bottom: 20px;
}
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
