* {
    margin: 0;

}

body, html {
    height: 100%;
}

.galeri {
    float: left;
    width: 100;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
}

/* ==========header========== */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: rgb(0, 0, 0);
    font-weight: 750;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    top: 20px;
    left: 30px;
    font-family: 'poppins', sans-serif;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    position: relative;
    top: 20px;
    right: 10px;
    font-family: 'poppins', sans-serif;
}

header ul li a {
    text-decoration: none;
    padding: 6px 5px ;
    color: rgb(0, 0, 0);
}

header ul li a:hover, header ul li a.aktif {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 20px;
}

/* judul */

h1 {
    font-family: sans-serif;
    font-style: italic;
    font-size: xx-large;
    max-width: fit-content;
    background-color: white;
    position: relative;
    top: 15px;
}

/* gambar */

.pilihan { 
    width: 100px;
    height: 100px;
    border-radius: 10%;
}

.banner {
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: -100;


}

/* text */
p {
    font-family: monospace;
    position: relative;
    text-align: center;

    
}
