@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'inter',sans-serif;
}

/* class tambahan */
.judul-font {

}

/* header font */
.nyisi li {
    font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 500;
    @apply mx-[30px]
}

/* hamburger */
.hamburger {
    @apply w-[20px] h-[2px] bg-black mt-[5px] transition duration-300 ease-in-out
}

.hamburger-active{
    position: fixed;
}

.hamburger-active > div:nth-child(1) {
    @apply origin-top-left rotate-45;

}
.hamburger-active > div:nth-child(2) {
    @apply scale-0;

}
.hamburger-active > div:nth-child(3) {
    @apply origin-bottom-left -rotate-45;

}


/* pop out hamburger */
.pop-out-hamburger {
    @apply bg-slate-50 
}

.link {
    font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.link-h{
    @apply text-[#bcbedc]
}

.link-b{
    @apply text-[#7A858F]
}


:hover.link {
    @apply text-[#f68fb2]
}

.display-none {
    display: none;
}

/* style random */

.svg-setting {
    @apply w-9 h-9 mr-[12px] z-20
}

/* form */
.label-edit {
    @apply block
}

input::-webkit-input-placeholder {
    @apply text-sm
}
